

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>show.html</title>
	  <%= yield :head %>
  </head>
  
  <body class = "Bbody">
	<%= render :file =>'formHeader001.html.erb' %> 

  	<%= yield %>
  
    
  	<div style="display:none"><%= link_to_function "click Next", 'history.go(1)', data: { keybinding: 'alt+pagedown' } %></div>
  	<div style="display:none"><%= link_to_function "click Previous", 'history.go(-1)', data: { keybinding: 'alt+pageup' } %></div> 
    <div style="display:none"><%= link_to_function "Save Item", 'saveItem()', data: { keybinding: 'alt+s' } %></div>

  	<h2 align="center" ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class = 'Blabel'>Item:</font> <font color='blue'><%=  if @journal_entry.id != nil then @journal_entry.id else "<New Journal>" end %></font></h2>
    <%= render :file =>'outlineTableOpeningTag.html' %>
   		<tr>
   						  
   				     <%= render :file =>'createMenu.html.erb' %>   
   			
  	
  			<td width="75%" valign="top" bgcolor="#F4FFEF" style="padding:0px;">  
  			<%= simple_form_for @journal_entry do |f| %>
  				
		  	 <font color = 'red'> <%= f.error_notification  %></font>
		  	 <div class = "BeonaForm">  		
  			<Table width:100% valign="top" class="BTable" bgcolor="#FFFFFF"  >  				  				
  				<tr>						  								 									
  			     <Td>  										
  					<div style="float: left; width: auto;"><%= f.button :submit, "      Save      ", :id => "saveItem"  %> </div> 				       									
    			</td>  
    		   </tr>
    		   <tr>
				<td valign="top">
					
					
					
					
					
  						  <Table width:100% valign="top" class="BTable" bgcolor="#FFFFFF"  >  						  	 												
  							<Tr>
  								<td colspan = "1"><div class = 'Blabel'>Journal No</div></td><td><div class = 'Bfield'><%= f.input :trans_rec_pay_journal_id, :label => false, :input_html => {:size => 30}   %></div></td>
  								<td colspan = "1"><div class = 'Blabel'>Journal Date</div></td><td><div class = 'Bfield'><%= f.input :journal_date,  :label => false, :input_html => {}   %></div></td>
  								
  							</Tr>
  							<Tr>
  								<td colspan = "1"><div class = 'Blabel'>Account Head</div></td><td><div class = 'Bfield'><%= f.input :account_head, :label => false, :input_html => {:size => 30}   %></div></td>
  								<td  colspan = "1"><div class = 'Blabel'>Transaction Type</div></td><td><div class = 'Bfield'><%= f.input :trans_type, :label => false, :input_html => {:size => 30}   %></div></td>
  							</Tr>
  							<Tr>
  								<td><div class = 'Blabel'>Amount</div></td><td><div class = 'Bfield'><%= f.input :amount, :label => false, :input_html => {:size => 30}   %></div></td>
  								<td><div class = 'Blabel'>Dr/Cr</div></td><td><div class = 'Bfield'><%= f.input :dr_cr  , :collection => ["Dr", "Cr"], :label => false, :input_html => {}   %></div></td>  								
  							</Tr>  							 
  							<Tr>
  								<td><div class = 'Blabel'>Master Code</div></td><td><div class = 'Bfield'><%= f.input :master_leg, :label => false, :input_html => {:size => 30}   %></div></td>
  								<td><div class = 'Blabel'>Description</div></td><td><div class = 'Bfield'><%= f.input :description,  :label => false, :input_html => {:rows => 10}   %></div></td>  								  								
  							</Tr>
  												
  							 							
  							</table>	
				</td>
			  </tr>
			  <tr>		
  			<Td>
  				<div style="float: left; width: auto;"><%= f.button :submit, "      Save      ", :id => "saveItem"  %></div>  				
    		</td>    								
    	</tr>
	  </Table>
  	  <br />
  	  	<% end %>  
  	  </td>
		<%= render :file =>'createRHSButtons.html.erb' %>   	  
  	  </tr>
  	</table>
  </body>
  
  
</html>





