
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>show.html</title>
	  <%= yield :head %>
  </head>
  
  <body class = "Bbody">
	<%= render :file =>'formHeader001.html.erb' %> 

  	<%= yield %>
  
    
  	<div style="display:none"><%= link_to_function "click Next", 'history.go(1)', data: { keybinding: 'alt+pagedown' } %></div>
  	<div style="display:none"><%= link_to_function "click Previous", 'history.go(-1)', data: { keybinding: 'alt+pageup' } %></div>
  	<div style="display:none"><%= link_to "edit itemorder", edit_itemorder_path, data: { keybinding: 'alt+q' } %></div>  
  	<div style="display:none"><%= link_to_function "delete itemorder", 'deleteItemorder()', data: { keybinding: 'alt+shift+backspace' } %></div>


	<br>
  	<h1 align="center" ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color = 'gray'>Item Order:</font> <font color='blue'><%=  @itemorder.id %></font></h1>
  	  <%= render :file =>'outlineTableOpeningTag.html' %>
   		<tr>
   		  				  
   				     <%= render :file =>'createMenu.html.erb' %>   
   			
  	
  		<%= render :file =>'MHSTableStart.html' %>
  			<Table width:100% valign="top" class="BTable" bgcolor="#FFFFFF"  >  
  				<Tr></Tr>
  				
  				<tr>		
  					<td>
  						<div style="float: left; width: auto;"><%= button_to "      Edit      ", edit_itemorder_path , :id => "editItemorder", :method => :get  %> </div>
  						<%= button_to "      Delete      ", @itemorder ,:id => "deleteItemorder",  confirm: 'Are you sure you want to delete this record?' , :method => :delete  %>
    					</td>    								
    			</tr>
  				
    			
    			<tr><td colspan="4">
  				
  				  <table class="BTable" bgcolor="#FFFFFF" >
  				  		<Tr>
  				  			<td><font color = 'gray'>Item Order Id</font></td><td><%= @itemorder.id %></td>
  							<td><font color = 'gray'>Invoice Id</font></td><td><%= @itemorder.invoice_id %></td>
  						</Tr>
  						<Tr>
  							<td><font color = 'gray'>Sales Date</font></td><td><%= @itemorder.sales_date %></td>
  							<td><font color = 'gray'>Item Code</font></td><td><%= @itemorder.item_code %></td>
  						</Tr>
  						<Tr>
  							<td><font color = 'gray'>Item Name</font></td><td><%= @itemorder.item_name %></td>
  						</Tr>
  				  </table>	
  				</td></tr>  	
    			
    			
    			
    			<tr><td colspan="4">
  				
  				  <table class="BTable" bgcolor="#FFFFFF" >
  				  		<Tr>
  				  			<td><font color = 'gray'>Quantity</font></td><td><%= @itemorder.quantity %></td>
  							<td><font color = 'gray'>Sales Rate Per Unit</font></td><td><%= @itemorder.sales_rate_per_unit %></td>
  						</Tr>
  						<Tr>
  							<td><font color = 'gray'>Total</font></td><td><%= @itemorder.total %></td>
  							<td><font color = 'gray'>Discount Percentage</font></td><td><%= @itemorder.discount_percentage %></td>
  						</Tr>
  						<Tr>
  							<td><font color = 'gray'>Total After Discount</font></td><td><%= @itemorder.final_total %></td>
  						</Tr>
  				  </table>	
  				</td></tr>  	
    			
  				
  			<tr>		
  				<td>
  					<div style="float: left; width: auto;"><%= button_to "      Edit      ", edit_itemorder_path , :id => "editItemorder", :method => :get  %> </div>
  					<%= button_to "      Delete      ", @itemorder ,:id => "deleteItemorder",  confirm: 'Are you sure you want to delete this record?' , :method => :delete  %>
    			</td>    								
    		</tr>
  				
  				

  			</Table>
  		 </td>
  		   <%= render :file =>'createRHSButtons.html.erb' %>    
  		 </tr>
  	</table>
  </body>
</html>

