<p id="notice"><%= notice %></p>

<p>
  <b>Ledger designation list:</b>
  <%= @data_config.ledger_designation_list %>
</p>

<p>
  <b>Ledger area list:</b>
  <%= @data_config.ledger_area_list %>
</p>

<p>
  <b>Ledger salesman list:</b>
  <%= @data_config.ledger_salesman_list %>
</p>

<p>
  <b>Ledger use voucher list:</b>
  <%= @data_config.ledger_use_voucher_list %>
</p>

<p>
  <b>Ledger rate used list:</b>
  <%= @data_config.ledger_rate_used_list %>
</p>

<p>
  <b>Ledger grade list:</b>
  <%= @data_config.ledger_grade_list %>
</p>

<p>
  <b>Ledger grade list:</b>
  <%= @data_config.ledger_grade_list %>
</p>

<p>
  <b>Ledger fleetorder list:</b>
  <%= @data_config.ledger_fleetorder_list %>
</p>


<%= link_to 'Edit', edit_data_config_path(@data_config) %> |
<%= link_to 'Back', data_configs_path %>
