

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>index.html</title>
	  <%= yield :head %>
  </head>
  
  
  <body class = "Bbody">
    <%= render :file =>'formHeader001.html.erb' %> 
 
  	<%= yield %>
  
  
  	<div style="display:none"><%= link_to_function "click Next", 'clickNextPrev("tabitems_next")', data: { keybinding: 'right' } %></div>
  	<div style="display:none"><%= link_to_function "click Previous", 'clickNextPrev("tabitems_previous")', data: { keybinding: 'left' } %></div> 
  	
  	<%= render :file =>'IndexPageKBShortCuts.html.erb' %>
  	  
  	<br>
  	<h1 align="center" "> ITEMS </h1>
  	  <%= render :file =>'outlineTableOpeningTag.html' %>
   		<tr>
   			
   		  					
   		   <%= render :file =>'createMenu.html.erb' %>    				   
   			
  	
  		<%= render :file =>'MHSTableStart.html' %>
  				
  				<table id = "tabitems" style="clear: both; margin-left: 10px; width : 100%">
  					<thead>	    	
  						<tr>
  							<th> Item Code </th>
  							<th> Item Name </th>
  							<th> Alias </th>
  							<th> QOH </th>  							  	
  							<th></th>
  							<th></th>					
  						</tr>
  					</thead> 
  					<tbody>
  						<% @items.each do |itemT| %>
  							<tr>
  								<td><%= link_to itemT.code, itemT, :class=>"docLinksClass"   %>  </td>
  								<td><%= itemT.name  %>  </td>
  								<td><%= itemT.alias  %>  </td>
  								<td><%= itemT.quantity_on_hand  %>  </td>
  								<td><%= link_to 'Edit', edit_item_path(itemT) %></td>
    							<td><%= link_to 'Delete', itemT, method: :delete, confirm: 'Are you sure you want to delete this record?', :method => :delete %></td>				 			
  							</tr>
  						<% end %>  
  					</tbody>	
  				</table>
  			</td>
  			 <%= render :file =>'createRHSButtons.html.erb' %>    
  		</Tr>
  	</table>
  
  </body>
</html>






