




<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>index.html</title>
	  <%= yield :head %>
  </head>
  
  
  <body class = "Bbody">
  	<%= render :file =>'formHeader001.html.erb' %>
 
  	<%= yield %>
  
  
  	  
  	<div style="display:none"><%= link_to_function "click Next", 'clickNextPrev("tabcustomers_next")', data: { keybinding: 'right' } %></div>
  	<div style="display:none"><%= link_to_function "click Previous", 'clickNextPrev("tabcustomers_previous")', data: { keybinding: 'left' } %></div> 
  	
  	<%= render :file =>'IndexPageKBShortCuts.html.erb' %>

  <div id="aaa"> </div>
  	<br>
  	<h1 align="center" "> Receipts / Payments </h1>
    <%= render :file =>'outlineTableOpeningTag.html' %>
   		<tr>
   			
   		
   				    <%= render :file =>'createMenu.html.erb' %>    	   				   
   			
  	
  			<%= render :file =>'MHSTableStart.html' %>
  				
  				<table id = "tab_trans_pay_rec_journals" style="clear: both; margin-left: 10px; width : 100%">
  					<thead>	    	
  						<tr>
  							<th > Transaction No. </th>  		
  							<th> Transaction Date </th>
  							<th> Account Head </th>
  							<th> Amount </th>
  							<th> Dr/Cr </th>  												
  							<th></th>
  							<th></th>
  						</tr>
  					</thead> 
  					<tbody>
  						<% @trans_rec_pay_journals.each do |itm| %>
  							<tr>
  								<td ><%= link_to itm.id, itm, :class=>"docLinksClass"    %>  </td>
  								<td><%= itm.journal_date  %>  </td>
  								<td><%= itm.account_head  %>  </td>
  								<td><%= itm.amount  %>  </td>
  								<td><%= itm.dr_cr  %>  </td>
        						<td><%= link_to 'Edit', edit_trans_rec_pay_journal_path(itm) %></td>
    							<td><%= link_to 'Delete', itm,  confirm: 'Are you sure you want to delete this record?', :method => :delete %></td>
  					 			
  							</tr>
  						<% end %>  
  					</tbody>	
  				</table>
  			</td>
  			<br/>
  			 <%= render :file =>'createRHSButtons.html.erb' %>  
  		</Tr>
  	</table>
  
  </body>
</html>


