<div id="user_nav" style = "float:left"> <font face = 'Arial'>
 <small> <% if user_signed_in? %>
    Signed in as <font face="Arial Black"><b><%= current_user.email %></b></font>. 
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
  </font>
  </small>
  |<%= render_breadcrumbs %>
</div>

<div align="right"><font face="Arial Black"><small>ProfitLead 0.1</small></font><small>|©Beona Technologies</small></div>
