	<div style="display:none"><%= link_to_function "click Next", 'history.go(1)', data: { keybinding: 'alt+pagedown' } %></div>
  	<div style="display:none"><%= link_to_function "click Previous", 'history.go(-1)', data: { keybinding: 'alt+pageup' } %></div>
  	
	<div style="display:none"><%= link_to_function "open Doc Links1", 'openDocLinks(0)', data: { keybinding: 'alt+1' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links2", 'openDocLinks(1)', data: { keybinding: 'alt+2' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links3", 'openDocLinks(2)', data: { keybinding: 'alt+3' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links4", 'openDocLinks(3)', data: { keybinding: 'alt+4' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links5", 'openDocLinks(4)', data: { keybinding: 'alt+5' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links6", 'openDocLinks(5)', data: { keybinding: 'alt+6' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links7", 'openDocLinks(6)', data: { keybinding: 'alt+7' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links8", 'openDocLinks(7)', data: { keybinding: 'alt+8' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links9", 'openDocLinks(8)', data: { keybinding: 'alt+9' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links10", 'openDocLinks(9)', data: { keybinding: 'alt+0' } %></div>

	
	<div style="display:none"><%= link_to_function "Set Focus Filter", 'focusFilterBox()', data: { keybinding: 'alt+p' } %></div>
	<div style="display:none"><%= link_to_function "Set Select Filter", 'focusSelectBox()', data: { keybinding: 'alt+z' } %></div>
	
	<div style="display:none"><%= link_to_function "open Doc Links New Win1", 'openDocLinksNewWin(0)', data: { keybinding: 'alt+shift+1' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links New Win2", 'openDocLinksNewWin(1)', data: { keybinding: 'alt+shift+2' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links New Win3", 'openDocLinksNewWin(2)', data: { keybinding: 'alt+shift+3' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links New Win4", 'openDocLinksNewWin(3)', data: { keybinding: 'alt+shift+4' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links New Win5", 'openDocLinksNewWin(4)', data: { keybinding: 'alt+shift+5' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links New Win6", 'openDocLinksNewWin(5)', data: { keybinding: 'alt+shift+6' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links New Win7", 'openDocLinksNewWin(6)', data: { keybinding: 'alt+shift+7' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links New Win8", 'openDocLinksNewWin(7)', data: { keybinding: 'alt+shift+8' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links New Win9", 'openDocLinksNewWin(8)', data: { keybinding: 'alt+shift+9' } %></div>
	<div style="display:none"><%= link_to_function "open Doc Links New Win10", 'openDocLinksNewWin(9)', data: { keybinding: 'alt+shift+0' } %></div>

	